body {
  background: url("red_pequena.png") no-repeat top right;
}

/* unvisited link */
nav a:link {color: white;text-decoration: none}

/* visited link */
nav a:visited {color: white;text-decoration: none}

/* Hover */
nav a:hover, a:hover {color: white; text-shadow: 0 2px 1px black;text-decoration: none}

/* selected link */
nav a:active {color: black;text-decoration: none}

